.main-menu {
    margin-bottom: 30px;
    
    #navbarSupportedContent.in {
       display: block;
       height: auto !important;
    }
}

footer {
    padding: 30px 0;
    margin-top: 40px;
    color: rgb(196, 196, 196);
    text-align: center;
}

